.wrapper {
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    background-color: transparent;
    color: #dadada;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        margin-left: 10px;
    }

    &.disable {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.icon {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon + .title,
.title + .icon {
    margin-left: 10px;
}

.title {
    line-height: 20px;
    width: 100%;
    display: flex;
}

// .icon {
//     display: inline-flex;
//     width: 20px;
//     height: 20px;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
// }

//Button styles
.rounded {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 10px;
    border: 1px solid;
    border-radius: 999px;
    margin-right: 16px;

    &.active {
        background-color: var(--purple-primary);
        border-color: var(--purple-primary);
    }

    &:hover {
        color: var(--link-text-hover);
    }
}

.primary {
    width: 40px;
    height: 40px;
    background-color: var(--alpha-bg);

    &:hover {
        filter: brightness(0.9);
    }
}

.noBackground {
    &:hover {
        background-color: var(--alpha-bg);
    }
}

.text {
    &:hover {
        color: #fff;
    }
}

// Button sizes
.small {
    width: 36px;
    height: 36px;
}

.large {
    height: 38px;
    min-width: 240px;
    border-radius: unset;
}
