.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload__icon {
    background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/empty-upload-dark.png');
    width: 120px;
    height: 120px;
}

.upload__desc {
    font-size: 16px;
    margin-top: 16px;
    color: var(--text-secondary);
    font-weight: 500;
}

.upload__btn {
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
    color: #fff;
    margin-top: 16px;
    padding: 9px 24px;
    font-size: 14px;
    border-radius: 999px;

    &:hover {
        filter: brightness(0.9);
        cursor: pointer;
    }
}
