.sidebar {
  height: calc(100vh - 90px);
  width: 240px;
  background-color: var(--sidebar-bg);
  overflow: hidden;
  cursor: pointer;
}

.sidebar-logo {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 25px 0 28px;
  display: flex;
  align-items: center;
}

.sidebar-logo img {
  width: 120px;
  height: 40px;
  display: inline-block;
}

.sidebar-logo .img-tablet {
  display: none;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0;
}

.sidebar-logo img:hover {
  filter: brightness(0.9);
}

.navbar {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 54px;
}

.navbar__menu {
  margin-bottom: 15px;
}

.navbar__item {
  color: #dadada;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
}

.navbar__item span {
  margin-right: 8px;
}

.navbar__item:hover {
  color: #fff;
}

.navbar__item.active {
  background-color: var(--alpha-bg);
  border-left: 3px solid var(--purple-primary);
  color: #fff;
}

.navbar__item a {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 25px;
}

.navbar__item a i {
  width: 24px;
  height: 24px;
  font-size: 26px;
  margin-right: 10px;
  border-radius: 4px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.navbar-separate {
  position: relative;
  height: 1px;
}

.navbar-separate::after {
  content: "";
  border-top: 1px solid var(--border-primary);
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}

.navbar-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 334px;
}

.navbar__sub {
  margin-top: 15px;
  height: 100%;
  overflow-y: hidden;
  /* inset: 0px; */
  /* position: absolute; */
  transition: 0.5s;
}

.navbar__sub:hover {
  overflow-y: scroll;
  transition: 0.3s;
}

.navbar__sub-menu {
}

.navbar__sub-item {
  color: #dadada;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  justify-content: flex-start;
}

.navbar__sub-item.active {
  background-color: var(--alpha-bg);
  border-left: 3px solid var(--purple-primary);
  color: #fff;
}

.navbar__sub-item:hover {
  color: #fff;
}

.navbar__sub-item a {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 25px;
}

.navbar__sub-item a i {
  width: 24px;
  height: 24px;
  font-size: 26px;
  margin-right: 10px;
  border-radius: 4px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.navbar__banner {
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
  cursor: default;
  width: 200px;
}

.navbar__banner .text {
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  border-color: #ffdb00;
  line-height: 1.67;
  cursor: text;
}

.navbar__banner a {
  background-color: #ffdb00;
  border-color: #ffdb00;
  color: #32323d;
  display: inline-block;
  padding: 6px 36px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border-radius: 15px;
}

.navbar__banner a:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.library {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 33px;
}

.library:hover > .library__header i {
  display: flex;
}

.library__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  margin: 0 28px 8px;
  padding: 4px 0;
  color: #fff;
}

.library__header h3 {
  font-size: 12px;
  font-weight: 600;
}

.library__header i {
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
}

.library__header i:hover {
  background-color: var(--alpha-bg);
}

.library__menu {
}

.library__item {
  display: flex;
  font-weight: 600;
  padding: 8px 28px !important;
  align-items: center;
  color: #dadada;
  font-size: 13px;
  justify-content: flex-start;
}

.library__item:hover {
  color: #fff;
}

.library__item i {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 10px;
  border-radius: 4px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.add-playlist {
  position: fixed;
  width: 240px;
  bottom: 90px;
  left: 0;
  height: 54px;
  border: none;
  border-top: 1px solid var(--border-primary);
  padding: 0 28px;
  border-radius: 0;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  outline: none;
}

.add-playlist:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.add-playlist span {
  font-size: 14px;
  font-weight: 600;
}

.add-playlist .icon {
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}

.btn-on-tablet {
  display: none;
  position: fixed;
  width: 70px;
  bottom: 90px;
  left: 0;
  height: 54px;
  border: none;
  /* border-top: 1px solid var(--border-primary); */
  /* padding: 0 28px; */
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--sidebar-popup-bg);
  outline: none;
}

.btn-on-tablet i {
  width: 40px;
  height: 40px;
  background-color: var(--alpha-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-on-tablet i:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.btn-on-tablet .icon {
  font-size: 18px;
}

/* Responsive */
@media screen and (max-width: 1133px) and (min-width: 768px) {
  .hide-on-tablet {
    display: none;
  }

  .sidebar {
    width: 70px;
    background-color: var(--sidebar-popup-bg);
  }

  .sidebar-logo {
    width: 70px;
    padding: 0;
    justify-content: center;
  }

  .sidebar-logo img {
    display: none;
  }

  .sidebar-logo .img-tablet {
    display: flex;
  }

  .navbar__item,
  .navbar__sub-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: unset;
  }

  .navbar__item a,
  .navbar__sub-item a {
    padding: 15px 0;
    justify-content: center;
  }

  .navbar__item a i,
  .navbar__sub-item a i {
    margin-right: 0;
  }

  .navbar__item.active,
  .navbar__sub-item.active {
    border-left: unset;
  }

  .navbar__sub-menu {
    width: 70px;
  }

  .library {
    margin-top: 28px;
    margin-bottom: 112px;
  }

  .library__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
  }

  .library__item {
    justify-content: center;
  }

  .library__item i {
    margin-right: 0;
  }

  .library:hover > .library__header i {
    display: none;
  }

  .btn-on-tablet {
    display: flex;
  }

  ::-webkit-scrollbar-track {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid var(--border-player);
  }

  .navbar {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .navbar__menu {
    display: flex;
    margin-bottom: 0;
    height: 100%;
  }

  .navbar__item {
    flex: 1;
    justify-content: center;
    align-items: center;
    border-left: unset;
  }

  .navbar__item.active {
    border-left: unset;
  }

  .navbar__item a {
    padding: 0;
    flex-direction: column;
  }

  .navbar__item a i {
    font-size: 20px;
    margin-right: 0;
  }

  .navbar__item span {
    margin-right: 0;
    font-size: 10px;
  }
}
