.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 70vw;
    max-width: 900px;
    height: 596px;
    background-color: var(--primary-bg);
    border-radius: 8px;

    @media screen and (max-width: 576px) {
        height: 400px;
        overflow: hidden;
    }
}

.modal__heading {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.modal__title {
    font-size: 24px;
    color: var(--text-primary);
}

.modal__btn {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 34px;
    color: #fff;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }
}

.themes {
    max-height: 50vh;
    min-height: 500px;
    padding: 0 30px;
    overflow-y: scroll;
}

.themes__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.themes__item-wrapper {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.themes__item {
    overflow: hidden;
    transition: all 0.1s linear;
    height: auto;
    cursor: pointer;

    &:hover {
        .themes__hover {
            display: flex;
        }
    }
}

.themes__img {
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: block;
}

.themes__img:hover .themes__hover {
    display: flex;
    overflow: hidden;
}

.themes__link {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s linear;
}

.themes__icon {
    position: absolute;
    bottom: 0px;
    right: 4px;
    font-size: 22px;
    color: var(--purple-primary);
}

.themes__name {
    color: var(--text-primary);
    font-size: 13px;
}

.themes__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
}

.themes__btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 98;
    transform: translateX(-50%) translateY(-50%);
}

.themes__btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    outline: none;
    border: none;
    width: 100px;
    height: 22px;
    padding: 5px 0;
    font-size: 8px;
    background-color: var(--purple-primary);
    color: var(--text-primary);
    margin-bottom: 10px;

    &:hover {
        filter: brightness(0.9);
        cursor: pointer;
    }
}

.themes__btn button:last-child {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    margin-bottom: 0;
}
