.toast {
    position: fixed;
    right: 26px;
    top: 80px;
    z-index: 9;
    background-color: #c5f7dc;
    border-radius: 16px;
    border-left: 12px solid #47d864;
    display: flex;
    padding: 20px 0;
    align-items: center;
    min-width: 400px;
    max-width: 450px;
    height: 88px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: slideInLeft ease 0.5s;
    // transition: all 0.5s ease;
}

.toast + .toast {
    margin-top: 24px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 26px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__icon {
    padding: 0 16px;
    font-size: 24px;
    color: #47d864;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    line-height: 1.6;
}

.toast__close {
    padding: 0 16px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover {
        color: #333;
    }
}
