.wrapper {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    border-radius: 8px;

    &:hover {
        background-color: var(--alpha-bg);
    }

    &:hover .avatar-hover {
        display: flex;
    }
}

.prefix {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
    overflow: hidden;
}

.avatar-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
}

.info {
    flex: 1;
    margin-left: 10px;
}

.name {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

    &:hover {
        cursor: pointer;
        color: var(--link-text-hover);
    }
}

.artist {
    font-size: 12px;
    color: var(--text-secondary);
    font-weight: 500;
}
